.todoListContainer {
    border-collapse: separate;
    border-spacing: 0 1rem;

    table {
        caption {
            visibility: hidden;
            display: none;
        }

        tr {
            display: flex;
            justify-content: space-between;

            margin: 1rem 0;
            white-space: normal;

            td {
                &:last-child {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &:hover {
                button:first-child {
                    display: flex;
                }
            }
        }
    }
}
