.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    section:first-child {
        display: flex;

        article:first-child {
            font-size: 2.555rem;
            line-height: 2.6rem;
            margin-right: 0.5rem;

            font-weight: 600;
        }

        article:last-child {
            line-height: 1.249rem;
            font-size: 1rem;
            flex-direction: column;
        }
    }

    section:last-child {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;

        img {
            cursor: pointer;
            transition: 1s;

            &:hover {
                transform: rotate(-180deg) translateZ(0);
            }
        }
    }
}
