.tasksContainer {
  display: flex;
  flex-direction: column;

  article {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.7rem;

    border-bottom: 2px solid var(--section-shadow);

    padding: 1.1rem 1.2rem;

    > div {
      width: 1.2rem;
      height: 1.2rem;

      border: 2px solid var(--section-shadow);
      border-radius: 50px;
      cursor: pointer;

      display: grid;
      place-items: center;

      span {
        width: 100%;
        height: 100%;

        background: var(--section-bg);
        border-radius: 50px;

        display: none;
      }

      &:hover {
        span {
          display: inline;
        }

        padding: 2px;
        border-width: 0;
        background: linear-gradient(120deg, #57ddff, #c058f3);
      }
    }

    > span {
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      font-size: 0.9em;
      user-select: text;
    }

    button {
      display: grid;
      place-items: center;

      background: inherit;
      border: none;
      cursor: pointer;
    }
  }
}

.selected {
  > div {
    background: linear-gradient(120deg, #57ddff, #c058f3);
    border: none !important;

    > div {
      position: relative;
    }
  }

  span {
    text-decoration: line-through;
    filter: brightness(50%);
  }
}
