.taskContentContainer {
    td {
        button {
            width: 1.75rem;
            height: 1.75rem;
            margin: 0 0.3rem;

            display: flex;
            align-items: center;
            justify-content: center;

            background: inherit;
            border-radius: 100%;
            box-sizing: border-box;

            font-size: 0;
            color: var(--green);
            cursor: pointer;

            &:first-child {
                display: none;
                border: 0;
            }

            &:last-child {
                border: 3px solid #dee3ee;
            }
        }

        &:first-child::first-letter {
            text-transform: uppercase;
        }
    }
}

.taskDone {
    td {
        button:last-child {
            border-color: var(--green);

            span {
                padding: 0.25rem;

                border-color: var(--green);
                background: var(--green);
                border-radius: 100%;
            }
        }

        &:first-child {
            text-decoration: line-through;
            opacity: 0.5;
        }
    }
}
