.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    font-family: 'Inter', sans-serif;

    background: #121212;
    color: #e1e1e1;
    line-height: 1.8rem;

    span {
        margin: 0 1rem;
        padding: 1.3rem 1rem;
    
        border-right: 2px solid #e1e1e1;
        font-size: 1.6em;
    }
}
