* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Josefin Sans', sans-serif;
  color: var(--text);
  user-select: none;
}

body {
  overflow-x: hidden;
}

button,
div {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
  background: hsl(235, 21%, 11%);
}

::-webkit-scrollbar-thumb {
  background: hsl(234, 39%, 85%);
  border-radius: 4px;
}

:root {
  --bright-blue: hsl(220, 98%, 61%);

  .light {
    --body-bg: hsl(236, 33%, 92%);
    --section-bg: hsl(0, 0%, 98%);
    --section-shadow: hsl(233, 11%, 84%);
    --text: hsl(235, 19%, 35%);
    --opacity-text: brightness(150%);

    --header-desktop-img: url('../../public/bg-desktop-light.jpg');
    --header-mobile-img: url('../../public/bg-mobile-light.jpg');
  }

  .dark {
    --body-bg: hsl(235, 21%, 11%);
    --section-bg: hsl(235, 24%, 19%);
    --section-shadow: hsl(237, 14%, 26%);
    --text: hsl(234, 39%, 85%);
    --opacity-text: brightness(50%);

    --header-desktop-img: url('../../public/bg-desktop-dark.jpg');
    --header-mobile-img: url('../../public/bg-mobile-dark.jpg');
  }
}
