* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Josefin Sans', sans-serif;
  color: var(--text);
  user-select: none;
}

body {
  overflow-x: hidden;
}

button, div {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
  background: hsl(235, 21%, 11%);
}

::-webkit-scrollbar-thumb {
  background: hsl(234, 39%, 85%);
  border-radius: 4px;
}

:root {
  --bright-blue: hsl(220, 98%, 61%);

  .dark {
    --body-bg: hsl(235, 21%, 11%);
    --section-bg: hsl(235, 24%, 19%);
    --section-shadow: hsl(237, 14%, 26%);
    --text: hsl(234, 39%, 85%);
    --text-hover: hsl(236, 33%, 92%);
    --done-task-text: hsl(234, 11%, 52%);
    --mat-text: hsl(233, 14%, 35%);
  }
}
