.mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;

  position: relative;
  top: -100px;

  margin: 1.1rem 1rem;
  margin-bottom: 0;

  .tasksComponent {
    border-radius: 7px;
    background: var(--section-bg);
  }

  @media (min-width: 600px) {
    width: 60%;
    margin: 1.1rem auto;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  @media (min-width: 800px) {
    width: 30rem;
  }
}
