@use '../../styles/responsive-media' as media;

.mainContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;

  position: relative;
  top: -80px;

  margin: 1.1rem 1rem;
  margin-bottom: 0;

  .tasksComponent {
    border-radius: 7px;
    background: var(--section-bg);
  }

  @include media.main-media;
}
