.messageContainer {
    position: fixed;
    top: 0;
    right: 0;
    gap: 0.6rem;

    // There will be a display: flex here when the component be loaded.
    flex-direction: column;
    justify-content: space-between;

    margin: 2rem 0;
    padding: 0.7rem 1rem 0.7rem 1.2rem;

    border-radius: 15px 0 0 15px;
    color: #000000;
    background: var(--spotlight-color);

    div:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;

        svg {
            margin: 0;
            padding: 0;
            margin-right: 0.5rem;
        }
    }
}

.progressBar {
    width: 0%;
    height: 4px;
    margin-left: 4px;

    background: #000000;
    border-radius: 2px;
    animation: right-to-left 3s;
}

@keyframes right-to-left {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}
