.modalContainer {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-items: center;

    & > div {
        width: 30%;
        height: 50%;

        padding: 1.5rem;
        border-radius: 5px;
        background: var(--background-modal);

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h1 {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            padding: 0;
            margin: 0;
            font-size: 1.5rem;
        }

        input {
            width: 100%;
            height: 1.6rem;

            margin: 1.5rem 0;
            padding: 1.5rem;
            border: 0;
            box-sizing: border-box;

            background: var(--background-input);
            color: var(--text);
            font-family: 'Inter', sans-serif;
            font-size: 1.2rem;

            transition: 0.01s linear;

            &:focus {
                outline: 2px solid var(--spotlight-color);
            }
        }

        footer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;

            button {
                padding: 0.7rem;
                border: 0;

                font-size: 0;
                cursor: pointer;
            }
        }
    }
}

.modalClosed {
    display: none;
}

.closeModal {
    background: #e74c3c;

    &:hover {
        background: #cc4637;
    }
}

.addTask {
    background: #27ae60;

    &:hover {
        background: #218d4e;
    }
}

@media (max-width: 768px) {
    .modalContainer > div {
        width: 70%;
    }
}
