.footerContainer {
  width: 100%;
  padding: 1.1rem 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  div,
  button {
    filter: var(--opacity-text);
  }

  button {
    background: inherit;
    border: none;

    cursor: pointer;

    &:hover {
      filter: brightness(100%);
    }
  }

  @media (min-width: 600px) {
    font-size: 1rem;
  }
}
