.addTaskContainer {
  display: flex;
  align-items: center;
  gap: 1rem;

  border-radius: 7px;
  background: var(--section-bg);

  > div {
    margin: 1rem 1.2rem;
    margin-right: 0;
    padding: 0;

    width: 1.2rem;
    height: 1.2rem;

    display: grid;
    place-items: center;

    border: 2px solid var(--section-shadow);
    border-radius: 50px;
    cursor: pointer;

    > div { // img
      width: 10px;
      height: 10px;

      background: inherit;
      border-radius: 50px;

      display: none !important;
    }

    &:hover {
      > div { // img
        display: inline-block !important;
      }

      padding: 2px;
      border-width: 0;
      background: linear-gradient(120deg, #57ddff, #c058f3);
    }
  }

  input {
    flex: 1;
    padding-right: 1.2rem;

    @media (min-width: 600px) {
      font-size: 1.1rem;
    }
  }
}
