.modalContainer {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-items: center;

    & > div {
        width: 30%;
        height: 40%;

        padding: 1.5rem;
        border-radius: 5px;
        background: #f1f1f1;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        h1 {
            display: inline-flex;
            align-items: center;
            justify-content: center;

            padding: 0;
            margin: 0;
            font-size: 1.5rem;

            img {
                margin-right: 1rem;
            }
        }

        input {
            width: 100%;
            height: 1.8rem;

            padding: 1.5rem;
            border: 0;
            box-sizing: border-box;
            margin: 1.5rem 0;

            background: var(--background-container);
            font-family: 'Inter', sans-serif;
            font-size: 1.2rem;

            transition: 0.05s;

            &:focus {
                outline: none;
                border: 2px solid var(--green);
            }
        }

        footer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;

            button {
                padding: 0.8rem;
                border: 0;

                font-size: 0;
                cursor: pointer;
            }
        }
    }
}

.modalClosed {
    display: none;
}

.closeModal {
    background: #e74c3c;

    &:hover {
        background: #cc4637;
    }
}

.addTask {
    background: #27ae60;

    &:hover {
        background: #218d4e;
    }
}

@media (max-width: 768px) {
    .modalContainer > div {
        width: 70%;
    }
}
